<ul class="social-media-list">
    <li><a rel="me" href="https://github.com/tiagofrancafernandes" target="_blank" title="GitHub">social.github</a></li>
    <!-- <li><a rel="me" href="https://stackoverflow.com/users/social.stackoverflow" target="_blank" title="social.stackoverflow">social.stackoverflow</a></li> -->
    <!-- <li><a rel="me" href="https://www.instagram.com/social.instagram" target="_blank" title="social.instagram">social.instagram</a></li> -->
    <!-- <li><a rel="me" href="https://www.linkedin.com/in/social.linkedin" target="_blank" title="social.linkedin">social.linkedin</a></li> -->
    <!-- <li><a rel="me" href="https://twitter.com/social.twitter" target="_blank" title="social.twitter">social.twitter</a></li> -->
    <!-- <li><a rel="me" href="https://www.youtube.com/social.youtube" target="_blank" title="social.youtube">social.youtube</a></li> -->
    <!-- <li><a rel="me" href="https://www.youtube.com/channel/social.youtube_channel" target="_blank" title="social.youtube_channel_name">social.youtube_channel</a></li> -->
    <!-- <li><a rel="me" href="https://t.me/social.telegram" target="_blank" title="social.telegram">social.telegram</a></li> -->
</ul>
